<div class="mb-6">
  <%= link_to root_path, class: "flex items-center justify-center gap-2 p-3 border-b-2 border-indigo-500 hover:bg-gray-50 rounded-t-md" do %>
    <svg class="fill-current size-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>home-modern</title><g><path d="M19.006 3.705a.75.75 0 0 0-.512-1.41L6 6.838V3a.75.75 0 0 0-.75-.75h-1.5A.75.75 0 0 0 3 3v4.93l-1.006.365a.75.75 0 0 0 .512 1.41l16.5-6z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M3.019 11.115L18 5.667V9.09l4.006 1.456a.75.75 0 1 1-.512 1.41l-.494-.18v8.475h.75a.75.75 0 0 1 0 1.5H2.25a.75.75 0 0 1 0-1.5H3v-9.129l.019-.006zM18 20.25v-9.565l1.5.545v9.02H18zm-9-6a.75.75 0 0 0-.75.75v4.5c0 .414.336.75.75.75h3a.75.75 0 0 0 .75-.75V15a.75.75 0 0 0-.75-.75H9z"></path></g></svg>
    <span class="font-bold tracking-tight text-gray-950 text-xl">Hotfin</span>
  <% end %>
</div>
