 <% if user_signed_in? %>
  <% if current_user.properties.include?(property) %>
    <%= button_to wishlist_path(property), method: :delete, class: "btn btn-white gap-2" do %>
      <%= inline_svg_tag "heart-solid.svg", class: "size-4 fill-current text-red-600", title: "Remove from wishlist" %>
      <span>Remove from Wishlist</span>
    <% end %>

  <% else %>
    <%= button_to wishlists_path(property_id: property.id), class: "btn btn-white gap-2" do %>
      <%= inline_svg_tag "heart-outline.svg", class: "size-4 stroke-current text-slate-500", title: "Add to wishlist" %>
      <span>Add to Wishlist</span>
    <% end %>
  <% end %>
<% end %>
